* {
    margin: 0;
}

body {
    font-size: 16px;
}

header .header-container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: bisque;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
}

header ul {
    display: flex;
    align-items: center;
}

header a {
    text-decoration: none;
    color: black;
}

header li {
    margin-right: 15px;
    list-style: none;
}

header li:hover {
    text-decoration: underline;
}

main {
    display: flex;
    margin-top: 50px;
    justify-content: center;
}

main .headshot {
    display: inline-block;
    margin-top: 100px;
    width: 50%;
}

main img {
    object-fit: contain;
    width: 100%;
    height: auto;
    margin-left: 50px;
    border: 5px solid gray;
}

main .bio {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 50px 0 0 0;
}

main .bio h2 {
    margin: 10px 0;
    font-size: 35px;
}

main .bio p {
    margin: 10px 0;
    width: 50%;
    font-size: 20px;
}

@media screen and (max-width: 762px) {
    main {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0;
    }

    main img {
        margin-left: 0;
    }

    main .bio {
        margin: 0;
    }

    main .bio p {
        width: 100%;
    }
}