* {
    margin: 0;
}

body {
    font-size: 16px;
}

header .header-container {
    width: 100%;
    position: fixed;
    top: 0;
    background-color: bisque;
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin-left: 10px;
    font-size: 36px;
    font-weight: bold;
}

header ul {
    display: flex;
    align-items: center;
}

header li {
    margin-right: 15px;
    list-style: none;
}